@CHARSET "UTF-8";

/* 게시판 공용 */
table#table_board {
    border-collapse:collapse;    /* border 사이의 간격 없앰 */
    border-top: 2px solid  #8c8c8c;    
    border-bottom: 1px solid  #8c8c8c; 
     /* width:1500px; */                  /* 전체 테이블 길이 설정 */ 
    /* margin-bottom: 20px; */
}

/*[발굴] 테이블 내의 셀 아래 줄 */
 table#table_board th, td{	
    border-bottom: 1px solid  #d8d8d8; 
	text-align: center;
} 

 table#table_board_left th, td{	
    border-bottom: 1px solid  #d8d8d8; 
	text-align: left;
} 

div#board_outside{
margin: 20px 0 30px auto; 
text-align: center;
}

.btn_default_org {
	-moz-box-shadow:inset 0px 1px 8px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 8px 0px #fed897;
	box-shadow:inset 0px 1px 8px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e69215), color-stop(1, #e09626) );
	background:-moz-linear-gradient( center top, #e69215 5%, #e09626 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e69215', endColorstr='#e09626');
	background-color:#e69215;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:30px; /* 26px였음 */
	line-height:30px; /* 26px였음 */
	width:112px;
	text-decoration:none;
	text-align:center;
	vertical-align:middle; /* 이거 왜 안먹힐까 */
	text-shadow:1px 0px 0px #cd8a15;
}
.btn_default_org:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e09626), color-stop(1, #e69215) );
	background:-moz-linear-gradient( center top, #e09626 5%, #e69215 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e09626', endColorstr='#e69215');
	background-color:#e09626;
}.btn_default_org:active {
	position:relative;
	top:1px;
}


td#td_table_board{
	text-align:right;
}

/* QnA 관련 */
.table_qna_form{
margin: 10px 0 30px 0 auto;
margin-left:25%;
width:40%;
}
tr.cls_qna_form{
width:38%;
}
td.cls_qna_form{
	height:300px;
}

input.cls_qna_form{
	width:90%;
}

textarea.cls_qna_form{
	margin:auto;
	width:90%;
	height:90%;
	/* white-space: pre-line; */
}

td.sm_qna_view{
	/* border-bottom:none; */
	width:100px;
	height:30px;
	padding:5px;
	text-align:center;
}

td.md_qna_view{
	/* border-bottom:none; */
	height:30px;
	padding:10px;
	text-align:left;
}

td.lg_qna_view{
	/* border-bottom:none; */
	width:100px;
	height:300px;
	padding:10px;
	text-align:left;
	overflow:hidden;
	resize:none;
}

.order_admin{
	width:150px;
	margin:0 0 0 10px;
	 color: #fff;
  background-color: #666;
  border-color: #666;
}


/* div.td_qna_view{
	border:1px solid #999999;
	
} */